.section {
  padding: $spacing-lg 0;
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-lg;

  @include responsive(md) {
    grid-template-columns: 1fr;
  }
}
