@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($time: 0.3s) {
  transition: all $time ease;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  }
}
